<div data-init="businessSettings.initialize" data-role="view" data-title="Business Settings" id="business">
    <div class="settingsMenu"></div>
    <h1 class="title">Your Business Settings</h1>
    <div class="wrap">
        <h2>The Basics</h2>
        <form id="businessForm">
            <table>
                <tr>
                    <td>Name:&nbsp;</td>
                    <td class="right"><input type="text" name="Name" data-bind="value: settings.Name" required/></td>
                </tr>
            </table>
        </form>
        <h2 class="middle">Your Logo</h2>
        <div id="businessImageUpload"></div>
    </div>
</div>