<div data-init="businessSettings.initialize" data-role="view" data-title="Business Settings" id="business">
    <div class="settingsMenu"></div>
    <h1>Your Business Settings</h1>
    <div class="wrap">
        <h2>The Basics</h2>
        <form id="businessForm">
            <table>
                <tr>
                    <td>Name:&nbsp;</td>
                    <td class="right"><input type="text" name="Name" data-bind="value: settings.Name" required/></td>
                </tr>
            </table>
        </form>
        <h2 class="middle">Your Logo</h2>
        <img id="businessCropbox" data-bind="attr: {src: settings.ImageUrl}" alt=""/>
        <a class="k-button k-button-icontext upload"><span class="k-icon k-image"></span>Upload Image</a>
        <form id="businessImageUploadForm" enctype="multipart/form-data" method="POST">
            <input id="businessImageUpload" type="file" class="file" /><br />
            <input type="hidden" id="imageFileName" name="imageFileName"/>
            <input type="hidden" id="imageData" name="imageData"/>
        </form>
        <h2 style="height: 17px;">&nbsp;</h2>
        <a class="k-button k-button-icontext save" data-bind="click: saveChanges"><span class="k-icon k-update"></span>Save</a>
        <a class="k-button k-button-icontext" data-bind="click: cancelChanges"><span class="k-icon k-cancel"></span>Cancel Changes</a>
    </div>
</div>