<div data-init="businessSettings.initialize" data-show="businessSettings.show" data-role="view" data-title="Business Settings" id="business">
    <div class="settingsMenu"></div>
    <div class="wrap top">
        <h1>The Basics</h1>
        <form id="businessForm">
            <label>Name:&nbsp;</label><br/>
            <input type="text" name="Name" data-bind="value: settings.Name" required/>
        </form>
        <h1 class="middle">Your Logo</h1>
        <div id="businessImageUpload"></div>
    </div>
</div>