<div data-init="changePassword.initialize" data-role="view" data-title="Change Password" id="changePassword">
    <div class="settingsMenu"></div>
    <div class="wrap">
        <h1><a href="http://www.microsoft.com/security/online-privacy/passwords-create.aspx" target="_blank">Choose a Secure Password</a></h1>
        <form>
            <label for="old">Old Password:&nbsp;</label><br/>
            <input type="password" id="old" name="old" required/><br/>
            <label for="new">New Password:&nbsp;</label><br/>
            <input type="password" id="new" name="new" required/><br/>
            <label for="confirm">Confirm Password:&nbsp;</label><br/>
            <input type="password" id="confirm" name="confirm" required/>
        </form>
        <h1>&nbsp;</h1>
        <button class="k-button k-button-icontext saveBtn" onclick="window.changePassword.save()" disabled><span class="k-icon k-update"></span>Save</button>
        <button class="k-button k-button-icontext cancelBtn" onclick="window.changePassword.cancel()" disabled><span class="k-icon k-cancel"></span>Cancel Changes</button>
    </div>
</div>