<div data-init="createPassword.initialize" data-role="view" data-title="Create Password" id="createPassword">
    <div class="settingsMenu"></div>
    <div class="wrap">
        <h1><a href="http://www.microsoft.com/security/online-privacy/passwords-create.aspx">Choose a Secure Password</a></h1>
        <form>
            <label for="createNew">New Password:&nbsp;</label><br/>
            <input type="password" id="createNew" name="createNew" required/><br/>
            <label for="createConfirm">Confirm Password:&nbsp;</label><br/>
            <input type="password" id="createConfirm" name="createConfirm" required/>
        </form>
        <h1>&nbsp;</h1>
        <button class="k-button k-button-icontext saveBtn" onclick="window.createPassword.save()" disabled><span class="k-icon k-update"></span>Save</button>
    </div>
</div>