<div data-init="dispatcherSettings.initialize" data-show="dispatcherSettings.show" data-role="view" data-title="Dispatcher Settings" id="dispatcher">
    <div class="settingsMenu"></div>
    <div class="wrap top">
        <div class="addDeleteBtns">
            <button class='k-button k-button-icontext k-grid-add'><span class='k-icon k-add'></span></button>
            <button class='k-button k-button-icontext k-grid-delete' onclick='dispatcherSettings.removeSelectedRow()' disabled><span class='k-icon k-delete'></span></button>
        </div>
        <h1>Task Statuses</h1>
        <div id="dispatcherGrid"></div>
    </div>
</div>