<div data-init="importerSelect.initialize" data-show="importerSelect.show" data-role="view" data-title="Select Fields" id="importerSelect">
    <div class="wrapper">
        <ul class="crumbs">
            <li onclick="window.viewImporterUpload()"><span></span><p>Upload File</p></li>
            <li></li>
            <li class="active"><span></span><p>Select Fields</p></li>
            <li></li>
            <li><span></span><p>Review Data</p></li>
        </ul>
        <div class="wrap">
            <ul id="topHeader">
                <li>
                    <span class="switch">
                        <a class="on active" href="javascript:void(0)"><span>Headers</span></a>
                        <a class="off" href="javascript:void(0)"><span>Row 1</span></a>
                    </span>
                </li>
                <li id="dynamicHeader"><span>Row 1</span></li>
                <li><span>Our Fields</span></li>
            </ul>
            <div id="listView"></div>
            <div class="buttonWrapper">
                <button class="k-button k-button-icontext cancelBtn" onclick="window.viewImporterUpload()">Back</button>
                <button class="k-button k-button-icontext saveBtn"><span class="k-icon k-update"></span>Review Data</button>
            </div>
        </div>
    </div>
</div>