<div data-init="importerSelect.initialize" data-show="importerSelect.show" data-role="view" data-title="Select Fields" id="importerSelect">
    <div class="breadcrumbsWrapper">
        <ul class="crumbs">
            <li onclick="window.viewImporterUpload()"></li>
            <li></li>
            <li></li>
        </ul>
    </div>

    <div class="wrap">
        <ul id="topHeader">
            <li>
                <span class="switch">
                    <a class="on active" href="javascript:void(0)"><span>Headers</span></a>
                    <a class="off" href="javascript:void(0)"><span>Row 1</span></a>
                </span>
            </li>
            <li id="dynamicHeader">Row 1</li>
            <li>Our Fields</li>
        </ul>
        <div id="listView"></div>
        <div class="buttonWrapper">
            <button class="k-button k-button-icontext cancelBtn" onclick="window.viewImporterUpload()">Back</button>
            <button class="k-button k-button-icontext saveBtn"><span class="k-icon k-update"></span>Review Data</button>
        </div>
    </div>
</div>