<div data-init="quickbooksSettings.initialize" data-role="view" data-title="QuickBooks Settings" id="quickbooks">
    <div class="settingsMenu"></div>
    <h1 class="title">QuickBooks</h1>
    <div class="wrap">
        <h2>QuickBooks Online Integration</h2>
        <div class="center">
            <span id="toggleLabel">Enabled:</span>
            <span class="switch">
                <a class="on" href="javascript:void(0)"><span>On</span></a>
                <a class="off active" href="javascript:void(0)"><span>Off</span></a>
            </span>
            <br />
            <div id="connect">
                <ipp:connectToIntuit></ipp:connectToIntuit>
            </div>
            <div id="status">
                <p>Status: <span>Inactive</span></p>
            </div>
        </div>
        <br />
        <p>Note: We currently only integrate with QuickBooks Online. If you have QuickBooks Desktop, you can upgrade <a href="http://quickbooksonline.intuit.com/
">here</a></p>
    </div>
</div>