<div data-init="quickbooksSettings.initialize" data-role="view" data-title="QuickBooks Settings" id="quickbooks">
    <div class="settingsMenu"></div>
    <h1 class="title">QuickBooks</h1>
    <div class="wrap">
        <h2>QuickBooks Online Integration</h2>
        <span id="toggleLabel">Enable:</span>
        <span class="small on-off gray switch">
            <a class="on" href="javascript:void(0)"><span>On</span></a>
            <a class="off active" href="javascript:void(0)"><span>Off</span></a>
        </span>
        <br />
        <br />
        <div id="enabledContent">
            <div>
                <div id="connectIcon"></div>
                <p>Connect to QuickBooks</p>
            </div>
            <br />
            <p>Status: <span>Active</span></p>
        </div>
        <br />
        <p>Note: We currently only integrate with QuickBooks Online. If you have QuickBooks Desktop, you can upgrade <a href="">here</a></p>
    </div>
</div>