<div id="routeTask" data-init="routeTask.initialize" data-show="routeTask.show" data-role="view" data-title="Route Task"
     data-model="routeTask.vm">

    <div id="taskServiceDetails" data-role="kendoServiceDetails" data-bind="service: selectedService"></div>

    <span style="margin-left:15px;">Status</span>
    <ul data-role="listview" data-style="inset" style="margin-top:0;">
        <li>
            <a class="km-listview-link" data-bind="click: openTaskStatuses, style: { backgroundColor: selectedTaskStatus.Color}">
                <span data-bind="text: selectedTaskStatus.Name"></span>
            </a>
        </li>
    </ul>

    <ul id="taskStatuses-actionsheet" data-role="actionsheet">
        <p id="actionSheetTitle">Mark Task As:</p>
        <ul id="taskStatuses-listview" style="text-align: center"
            data-bind="source:taskStatusesSource, click:selectStatus"
            data-role="listview" data-style="inset" data-template="taskStatusTemplate"></ul>
    </ul>

</div>
<script type="text/x-kendo-template" id="taskStatusTemplate">
    <a class="km-listview-link" style="background-color:#=Color#" taskId="#=Id#">#=Name#</a>
</script>
