<div id="routes" data-role="view" data-layout="mobile-view" data-model="mobile.viewModel" data-title="Routes">
    <header data-role="header">
        <div data-role="navbar">
            <a id="logoutButton " class="nav-button km-button km-back" data-align="left"
               data-click="mobile.logout" data-role="button">Log Out</a>
            <a id="refreshButton" class="nav-button" data-align="right"
               data-bind="click: refreshRoutes" data-role="button">Refresh</a>
            <span data-role="view-title"></span>
        </div>
    </header>
    <!--Add following attributes when supported server info is pagable
    data-pull-to-refresh="true" style="margin-bottom: 600px;"-->
    <!--Half-fix for refreshing routes without reloading page data-auto-bind="false"!-->
    <ul id="routes-listview" data-bind="source:routesSource, click:selectRoute"
        data-role="listview" data-style="inset" data-template="routeListViewTemplate">
    </ul>
</div>
<script type="text/x-kendo-template" id="routeListViewTemplate">
    <a>${Name}</a>
</script>