<div id="routeDestinationDetails" data-role="view" data-show="routeDestinationDetails.show" data-title="Destination Info">

    <div id="locationInfo" data-bind="source: this" data-template="locationTemplate"></div>

    <div>
    <p style="position:relative; top:10px; margin-bottom: -5px;">Contacts</p>
    <hr style="width:90%;"/>
    </div>
    <ul id="contacts-listview" data-bind="source:contacts" data-role="listview" data-style="inset" data-template="contactsTemplate"></ul>

    <p style="top:10px; margin-bottom: -5px;">Tasks</p>
    <hr style="width:90%;"/>
    <ul id="routeTasksListView" data-bind="source: dataSource, click: select"
        data-role="listview" data-style="inset" data-template="routeTasksTemplate">
    </ul>
    <footer></footer>
</div>
<script type="text/x-kendo-template" id="locationTemplate">
    <h1>${selectedEntity.Client.Name}</h1>
    <hr style="width:95%; margin: 10px 0px 20px 0px"/>
    <p>${selectedEntity.Location.AddressLineOne}</p>
    <p>${selectedEntity.Location.AddressLineTwo}</p>
    <p>${selectedEntity.Location.City}, ${selectedEntity.Location.State}<br/>
        ${selectedEntity.Location.ZipCode}</p>
    <span class="km-text"><a id="directionsButton" data-bind="click: getDirections">Directions</a></span>
</script>
<script type="text/x-kendo-template" id="contactsTemplate">
    # if (Type === "Phone Number") { #
    <a data-rel="external" href="tel:${Data}">Call ${Label}<p class="contactData">${Data}</p></a>
    # } #
    # if (Type === "Email Address") { #
    <a data-rel="external" href="mailto:${Data}">E-mail ${Label}<p class="contactData">${Data}</p></a>
    # } #
    # if (Type === "Website") { #
    <a data-rel="external" href="http://${Data}" target="_blank">Visit Website<p class="contactData">${Data}</p></a>
    # } #
</script>
<script type="text/x-kendo-template" id="routeTasksTemplate">
    <a>${Name}</a>
</script>
<script>
    $("#directionsButton").mousedown(function (e) {
        $("#directionsButton").toggleClass("buttonClicked");
    });
    $("#directionsButton").mouseup(function (e) {
        $("#directionsButton").toggleClass("buttonClicked");
    });
</script>
