<div id="routeDetails" data-role="view" data-show="routeDetails.show" data-title="Route Destinations">

    <div style="text-align: center">
        <a id="startButton" data-align="right" data-bind="click: startRoute, visible: startVisible"
           data-role="button">Start Route</a>
    </div>

    <ul id="routeDestinations-listview" data-bind="source: dataSource, click: select"
        data-role="listview" data-style="inset" data-template="routeDestinationViewTemplate">
    </ul>

    <div style="text-align: center">
        <a id="endButton" data-align="right" data-bind="click: endRoute, visible: endVisible"
           data-role="button">End Route</a>
    </div>

    <footer></footer>
</div>
<script type="text/x-kendo-template" id="routeDestinationViewTemplate">
    # if (data.Location) { #
        <a>#= Location.Name #<div class="taskStatusColorImg" style="background-color:#=routeDetails.getTaskColors(data.Id)#"></div>
            <br/><label class="addressLabel">#= Location.AddressLineOne #</label></a>
    # } else { #
        <a>#= Client.Name #<br/><label class="addressLabel" style="color:red">No Location Available</label></a>
    # } #
</script>
