^data-title="Services" data-model="services.vm" data-stretch="true"^
<div id="left-pane">
    <label for="serviceTypes">Services:</label>

    <div id="serviceTypes" class="styled-select"></div>
    <form id="csvForm" enctype="multipart/form-data" method="POST" target="csvFrame">
        <input type="hidden" name="roleId"/>
        <input type="hidden" name="serviceType"/>
        <input type="hidden" name="clientContext"/>
        <input type="hidden" name="recurringServiceContext"/>
        <input type="hidden" name="startDate"/>
        <input type="hidden" name="endDate"/>
    </form>
    <iframe id="csvFrame" style="display:none;">
    </iframe>
    <div class="addDeleteBtns">
        <button class='k-button k-button-icontext k-grid-add'></button>
        <button class='k-button k-button-icontext k-grid-delete'></button>
        <button class="k-button k-button-icontext k-grid-edit optionsMenu" onclick="services.showOptions()"></button>
    </div>
    <ul id="serviceOptions">
        <li onclick="services.exportToCSV()">Download CSV</li>
    </ul>
    <div id="grid"></div>
</div>
<div id="right-pane">
    <div id="repeat" data-bind="service: selectedService"></div>
    <div id="serviceSelectorsWrapper">
        <div id="serviceSelectorsScroller">
            <h1 style="line-height: 1em;">Client</h1>
            <input id="clientSelector" name="Client" required="required"/>

            <h1>Location</h1>

            <div id="locationSelector" class="locationWidget" name="Location" required="required"></div>
            <div id="serviceDetails" data-role="kendoServiceDetails" data-bind="service: selectedService"></div>
        </div>
    </div>
</div>