<div data-init="services.initialize" data-role="view" data-title="Services" data-stretch="true"
     data-model="services.viewModel" id="services">
    <div id="left">
        <div id="top">
            <input id="startDatePicker" style="width:150px;"/>
            <input id="endDatePicker" style="width:150px;"/>
            <button type="export" onclick="services.exportToCSV()">Export</button>
        </div>
        <div id="grid"></div>
    </div>
    <div id="serviceDetails" data-role="kendoServiceDetails" data-bind="service: selectedService">
    </div>
</div>
