<div id="signatureView" data-init="signatureView.initialize" data-show="signatureView.show" data-role="view" data-title="Signature Pad"
     data-model="signatureView.vm">

    <div class="sigWrapper">
        <a class="sigButton" id="sigCancel" data-bind="click:closeSigPad">Cancel</a>
        <a class="sigButton" id="sigClear" data-bind="click:resetSigPad">Clear</a>
        <a class="sigButton" id="sigSave" data-bind="click:saveSig">Save</a>
        <div id="vertCenterUpper" style="#position: relative;">                         <!--Used to-->
            <div id="vertCenterMiddle" style=" #position: absolute; #top: 50%;">        <!--place content-->
                <div id="vertCenterLower" style=" #position: relative; #top: -50%">     <!--in middle of page-->
                    <div class="sigPad"></div>
                </div>
            </div>
        </div>
    </div>

    <footer></footer>
</div>
<script type="text/x-kendo-template" id="signatureViewTemplate">
</script>
