<p>Updates 12/9/2012</p>

<ul>
    <li>GENERAL: Fixed adding users.</li>
    <li>MOBILE: Improvements to signature field/contact info.</li>
</ul>

<br/>
<br/>

<p>Updates 11/18/2012</p>

<ul>
    <li>GENERAL: Fixed two firefox bugs: hidden sections and an issue with select boxes.</li>
    <li>MAP/MOBILE: Discarding trackpoints that are less than 50 meters accuracy.</li>
    <li>MOBILE/SERVICES: Added a signature field.</li>
    <li>SERVICES: Added status to the grid.</li>
</ul>

<br/>
<br/>

<p>Updates 11/4/2012</p>

<ul>
    <li>MOBILE: Can now edit client's contact information.</li>
    <li>MOBILE: Added status color to route destination list.</li>
    <li>MOBILE: Prettier styles.</li>
    <li>SERVICES/MOBILE: Fixed issues with service details.</li>
</ul>

<br/>
<br/>

<p>Updates 10/21/2012</p>

<ul>
    <li>MAP: Can now view historical routes.</li>
    <li>MAP: Cleaned up display of erroneously collected track points.</li>
    <li>MAP: Employee icons show up as gray if inactive (they have not reported a track point within the hour)
             and do not show up unless they have reported a track point within 24 hours.</li>
    <li>GENERAL: Password reset now displays errors.</li>
</ul>

<br/>
<br/>

<footer></footer>