<div id="updates" data-role="view">
    <p>Updates 8/2/2012</p>

    <ul>
        <li>DISPATCHER: Added multiple drag and drop.</li>
        <li>DISPATCHER: Improved speed/stability.</li>
        <li>DISPATCHER: Added custom task statuses.</li>
        <li>SETTINGS: Added time zone setting.</li>
        <li>SETTINGS: Settings are now auto saved with an undo functionality.</li>
    </ul>

    <br/>
    <br/>

    <p>Updates 7/24/2012</p>

    <p>Started the HTML5 transition to improve speed and stability.</p>

    <ul>
        <li>Replaced navigator and settings page with HTML versions.</li>
        <li>DISPATCHER: Improved manifest speed/stability.</li>
        <li>CLIENTS: Fixed crashing bug for clients with multiple locations.</li>
    </ul>
</div>