<p>Updates 1/13/2013</p>
<br/>

<ul>
    <li>ALL: New cleaner styling.</li>
    <li>GENERAL: Updated all dependencies. Paves way for upcoming feature releases and fixes miscellaneous bugs.</li>
    <li>SERVICES: New location widget. Can now add & edit locations from services section.</li>
    <li>SERVICES: Only shows add, delete, download csv buttons when ready.</li>
    <li>SERVICES: Can resize the grid.</li>
    <li>ROUTES: Fixed some contact info bugs.</li>
</ul>

<br/>
<br/>

<p>Updates 12/9/2012</p>
<br/>

<ul>
    <li>GENERAL: Fixed adding users.</li>
    <li>MOBILE: Improvements to signature field.</li>
    <li>MOBILE: Improvements to contact info.</li>
</ul>

<br/>
<br/>

<p>Updates 11/18/2012</p>
<br/>

<ul>
    <li>GENERAL: Fixed two firefox bugs: hidden sections and an issue with select boxes.</li>
    <li>MAP/MOBILE: Discarding trackpoints that are less than 50 meters accuracy.</li>
    <li>MOBILE/SERVICES: Added a signature field.</li>
    <li>SERVICES: Added status to the grid.</li>
</ul>

<br/>
<br/>