.locationWidget{
    position: relative;
    min-height: 150px;
    padding: 10px 15px;
    font-size: 15px;
    background: @grey;
    h3{
        font-size: 20px;
        margin: 0 0 5px 0;
    }
    label, .navigateBtn{
        line-height: 1.5em;
    }
    #locationWidgetMap{
        position:relative;
        width: 100%;
        min-height: 150px;
        margin-bottom: 6px;
        .leaflet-popup-content {
            margin: 10px;
        }
    }
    .colorBar{
        width: 4px;
        height: 53px;
        position: absolute;
    }
    .editPane{
        display: none;
        input{
            margin-bottom: 5px;
        }
        .zipCodeWrapper{
            width: 44%;
        }
        .stateWrapper{
            width: 54%;
            float: right;
        }
        .deleteBtn{
            display: none;
        }
        input[type="text"] {
            height: 26px;
            width: 100%;
            padding-left: 2px;
            font-size: 14px;
            font-family: "PTSans";
            border: none;
            border-radius: 0;
            background-color: @white;
        }
        .locationSearchSelect input[type="text"]{
            height: 20px;
            padding: 1px 0;
        }
    }
    .addButtonWrapper{
        display: none;
        width: 82px;
        margin: 10px auto 0 auto;
        .add {
            width: 95px;
            font-size: 14px;
            color: @green;
            span{
                background-position: -115px -180px;
            }
        }
    }
    .saveDeleteButtonWrapper{
        width: 155px;
        margin: 10px auto 0 auto;
    }
}