@import "navigator.less";
@import "select2.less";
@import url("map.css");

/*region Reset*/
/* http://meyerweb.com/eric/tools/css/reset/   v2.0 | 20110126   License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*endregion*/
/*region Variables*/
@blue: #488FCD;
@green: #659A41;
@red: #991A36;
@orange: #D9591E;
@charcoal: #333335;
@white:#ffffff;
@darkBlue: #36C3E3;
@buttonLight: #a7ff6c;
@buttonDark: #8dd85b;
@buttonHoverLight: #9cee65;
@buttonHoverDark: #7ec152;
@textColor: #222222;
.buttonGradient {
    background: -moz-linear-gradient(top, @buttonLight, @buttonDark);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = @buttonLight, endColorstr = @buttonDark);
    background: -webkit-gradient(linear, left top, left bottom, from(@buttonLight), to(@buttonDark));
}

.buttonGradientHover {
    background: -moz-linear-gradient(top, @buttonHoverLight, @buttonHoverDark);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = @buttonHoverLight, endColorstr = @buttonHoverDark);
    background: -webkit-gradient(linear, left top, left bottom, from(@buttonHoverLight), to(@buttonHoverDark));
}

.rowGradient {
    background-color: @darkBlue;
    background: -moz-linear-gradient(top, @darkBlue, @blue);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr = @darkBlue, endColorstr = @blue);
    background: -webkit-gradient(linear, left top, left bottom, from(@darkBlue), to(@blue));
}
.bgGradient(@top, @bottom){
    background-color: @top;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0, @bottom), color-stop(0.5, @top));
    background-image: -webkit-linear-gradient(center bottom, @bottom 0%, @top 50%);
    background-image: -moz-linear-gradient(center bottom, @bottom 0%, @top 50%);
    background-image: -o-linear-gradient(bottom, @bottom 0%, @top 50%);
    background-image: -ms-linear-gradient(top, @bottom 0%, @top 50%);
    filter: progid:dximagetransform.microsoft.gradient(startColorstr=@bottom, endColorstr=@top, GradientType=0);
    background-image: linear-gradient(top, @bottom 0%, @top 50%);
}
/*endregion*/
/*region Kendo */

@import url("kendo/kendo.mobile.all.less");
@import url("mobile.less");
@import url("kendo/kendo.common.less");
@import url("kendo/kendo.default.less");

/****** Kendo overrides ******/
.k-header, .k-grid-header, .k-toolbar, .k-dropdown-wrap, .k-picker-wrap, .k-grouping-header, .k-tooltip, .k-pager-wrap, .k-button, .k-draghandle, .k-tile,
.k-textbox, .k-autocomplete, .k-state-hover, .k-state-selected, .k-state-focused, .k-tabstrip-items .k-item, .cancelBtn {
    background-image: url("../img/highlight.png")
}

.k-icon, .k-tool-icon, .k-grouping-dropclue, .k-drop-hint, .k-callout, .k-progress, .k-progress-status, .k-column-menu .k-sprite {
    background-image: url('../img/sprite.png')
}

.k-loading {
    background-image: url('../img/loading.gif')
}

.k-loading-image {
    background-image: url('../img/loading-image.gif')
}

.k-slider-horizontal .k-tick {
    background-image: url('../img/slider-h.gif')
}

.k-slider-vertical .k-tick {
    background-image: url('../img/slider-v.gif')
}

.k-tile .k-folder {
    background-image: url('../img/imagebrowser.png')
}

@font-face {
    font-family: PTSans;
    src: url(PTS55F.ttf);  /* TTF file for CSS3 browsers */
}

.km-view {
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    display: block;
}

//firefox workaround(otherwise settings pages don't show up)
@-moz-document
url-prefix
(
)
{
.km-view {
    display: -moz-box;
}
}
.km-content, .km-scroll-container, .km-scrollview {
    width: inherit;
}
input[type="button"], button {
    color: #111;
}

.k-grid tbody .k-button {
    min-width: 0
}

.k-grid tbody button.k-button, #ie8#skips {
    min-width: 0
}

*+html .k-grid tbody a.k-button {
    min-width: 0
}

#users .k-edit, #users .k-delete, #dispatcher .k-edit, #dispatcher .k-delete, #dispatcher .k-add {
    background-image: none;
}

.k-grid-edit, .k-grid-delete, .k-grid-edit:hover, .k-grid-delete:hover, .k-grid-add, .k-grid-add:hover {
    background: none;
    border: none;
}

//keep add/delete buttons on the right side of grid
.k-grid-toolbar {
    text-align: right;
}

.k-grid .k-button {
    margin: 3px 0 0 0;
}

//reduce the height of grid rows
.k-grid td {
    padding-top: 3px;
    padding-bottom: 3px;
}

.k-grid tbody td > .k-grid-delete {
    margin-top: 0;
}

//center button icons
.k-button-icontext .k-icon {
    margin: -2px 3px 0 -3px;
    vertical-align: middle;
}

span.k-tooltip {
    position: relative;
    display: block;
}

//keep items in grid from shifting during edit mode
.k-grid .k-edit-cell {
    padding-left: 8px;
}

.km-content, .km-scroll-container {
    height: 100%;
}

.km-scroll-container {
    -webkit-user-select: auto;
    -moz-user-select: auto;
}

//BUG FIX: This fixes Kendo scrollbar bug!
.km-horizontal-scrollbar {
    width: auto;
}

//BUG FIX: Fix for kinetic scrollbars on mobile only.
@media only screen and (max-width:800px) {
    .km-view {
        height: 100%;
    }

    .km-content { //BUG FIX: Required to fix content size in firefox.
        overflow: visible !important; //padding-bottom: 18px;  //BUG FIX: This fixes Kendo scrollbar bug! (disabled for second bugfix)
    }
}

.k-grid .k-edit-cell input {
    margin-left: 4px;
}

//override the orange selected row highlight with blue
.k-state-selected, .k-list > .k-state-selected, .k-list > .k-state-focused,
.k-panelbar > .k-state-selected, .k-panel > .k-state-selected,
.k-button:active, .k-ghost-splitbar-vertical, .k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover {
    .rowGradient;
    border-color: #488FCD;
}

/*region Overrides for kendo mobile*/
#personal, #business, #users, #dispatcher, #changePassword, #createPassword, #services {
    h1, .km-content h1 {
        font-size: 1.5em;
        margin: 36px 0 15px 184px;
    }
    h2, .km-content h2 {
        font-size: 1.2em;
        border-bottom: 1px solid #666666;
        margin: 0 0 15px 0;
    }
}

.km-ios {
    font-weight: normal;
    font-family: PTSans;
}

//adds space after the last item in serviceDetails
.km-ios .km-listinset > li:last-child .k-widget, .km-ios .km-listgroupinset .km-list > li:last-child .k-widget {
    margin-bottom: 4px;
}

.km-ios .km-list input:not([type="button"]):not([type="submit"]):not([type="reset"]):not([type="image"]):not([type="checkbox"]):not([type="radio"]):not(.k-input):not(.k-button),
.km-ios .km-list select:not([multiple]) {
    position: static;
    font-family: PTSans;
}

.km-stretched-view, .km-root .k-dropdown select, .km-root .k-dropdown .k-select, .km-root .k-dropdown-wrap {
    display: block;
}

//this keeps the grey background
.km-ios, .km-ios .km-content {
    background: none;
}

.km-ios, .km-ios .km-list > li {
    font-weight: normal;
    font-family: PTSans;
}

//make alternate grid rows background color white instead of transparent
.k-grid tbody tr:not(.k-alt):not(.k-state-selected) {
    background-color: #fff;
}

/*endregion*/
/*endregion*/
/*region Settings - Menu*/
.settingsMenu {
    position: absolute;
    width: 130px;
    margin: 20px 0 10px 20px;
    padding-left: 0;
    font-size: 18px;
    z-index: 0;
    -moz-box-shadow: 0 3px 5px #aaa;
    -webkit-box-shadow: 0 3px 5px #aaa;
    box-shadow: 0 3px 5px #aaa;
    background-color: #fff;
}

.settingsMenu .active {
    font-weight: bold;
}

.settingsMenu li {
    list-style: none;
    padding: 5px 0 5px 15px;
    cursor: pointer;
    border-bottom: 1px solid #ccc;
}

.settingsMenu li:last-child {
    border-bottom: none;
}

.settingsMenu li a {
    color: @charcoal;
}

.settingsMenu li:nth-child(2), .settingsMenu li:nth-child(3) {
    display: none;
}

.settingsMenu li:nth-child(1):hover a, .settingsMenu li:nth-child(1).active a {
    color: @green;
}

.settingsMenu li:nth-child(2):hover a, .settingsMenu li:nth-child(2).active a {
    color: @red;
}

.settingsMenu li:nth-child(3):hover a, .settingsMenu li:nth-child(3).active a {
    color: @blue;
}

.settingsMenu li:nth-child(4):hover a, .settingsMenu li:nth-child(4).active a {
    color: @orange;
}

/*endregion*/
/*region Settings - All */
h1, h2, h3, td, p {
    cursor: default;
}
h1.title {
    width: 500px;
}
body {
    font-family: PTSans;
    background-color: #efefef;
    color: @charcoal;
}
hr {
    border: 1px solid #666;
}
.wrap {
    margin: 0 20px 10px 180px;
    padding: 15px;
    -moz-box-shadow: 0 5px 8px #aaa;
    -webkit-box-shadow: 0 5px 8px #aaa;
    box-shadow: 0 5px 8px #aaa;
    background-color: #fff;
}
#dispatcher .addDeleteBtns {
    float: right;
    margin: -8px 0 0 0;
}
.addDeleteBtns .k-grid-delete, .addDeleteBtns .k-grid-add {
    padding-right: 6px;
}
.addDeleteBtns .k-grid-delete {
    margin: 0;
}
.saveBtn {
    margin-left: 145.5px;
    .buttonGradient;
}
.saveBtn:hover {
    .buttonGradientHover;
}
button[disabled], .k-grid-update[disabled], .k-grid-cancel[disabled] {
    color: #999;
    cursor: default;
}
button[disabled] .k-icon, button[disabled] .k-icon:hover {
    opacity: .5;
}
.saveBtn[disabled], .k-grid-update[disabled] {
    border-color: #c5c5c5;
    .buttonGradient;
}
.saveBtn[disabled]:hover, .k-grid-update[disabled]:hover {
    color: #999;
}
.cancelBtn {
    margin-left: 4px;
}
.cancelBtn[disabled]:hover, .k-grid-cancel[disabled]:hover {
    background-color: #e3e3e3;
    border-color: #c5c5c5;
    color: #999;
}
.k-grid-edit, .k-grid-edit:hover, .k-grid-delete, .k-grid-delete:hover, .k-grid-add,
.k-grid-add:hover, .k-grid-delete[disabled], .k-grid-delete[disabled]:hover, .csvBtn, .csvBtn:hover {
    background: url("../img/btnSprite.png") no-repeat;
    width: 22px;
    height: 22px;
    background-position: 0 -132px;
}
/*endregion*/
/*region ImageUploadButton */
.imageupload-button {
    margin-left: 192px;
}

.imageupload-button:hover {
    background-image: url("../img/highlight.png");
}

.imageupload-cropbox {
    margin-bottom: 10px;
}

/*endregion*/
/*region Settings - Personal */
#personal .wrap, #business .wrap, #changePassword .wrap, #createPassword .wrap { //display:block causes .wrap to bee too wide in Firefox
    display: table;
    width: 500px;
    padding: 15px;
}

#personal h2.middle, #business h2.middle {
    margin-top: 10px;
}

#personal table {
    margin: 0 0 0 102px;
}

#personal .k-dropdown {
    width: 310px;
    margin-left: 95px;
    font-size: 1em;
    .k-select {
        margin-top: 2px;
    }
}

#personal td, #business td, #changePassword td, #createPassword td {
    height: 30px;
    text-align: right;
    margin: 0 0 5px 0;
}

#personal td.right, #business td.right, #changePassword td.right, #createPassword td.right {
    text-align: left;
}

#personal td input, #business td input, #changePassword td input, #createPassword td input {
    width: 190px;
    height: 20px;
    border: 1px inset #ccc;
    font-size: 1em;
    padding-left: 2px;
}

#personal .changePassword {
    margin-left: 164px;
}

#personal .k-image, #business .k-image {
    background-position: -115px -91px;
}

#personal #uploadBtn, #business #uploadBtn {
    width: 95px;
    margin-bottom: 10px;
}

/*region Change Password*/
#changePassword h2 a, #createPassword h2 a {
    color: @blue;
    text-decoration: none;
}

#changePassword h2 a:hover, #createPassword h2 a:hover {
    text-decoration: underline;
}

#changePassword form, #createPassword form {
    margin-left: 89px;
}

#changePassword .k-edit, #createPassword .k-edit {
    background-position: -32px 0;
}

#changePassword .save, #createPassword .save {
    margin-left: 187px;
    .buttonGradient;
}

#createPassword .save {
    margin-left: 217px;
}

#timeZoneForm .select2-container {
    margin-left: 95px;
}

/*endregion*/
/*endregion*/
/*region Settings - Business */
#business table {
    margin: 0 0 0 129px;
}

/*endregion*/
/*region Settings -Users */
#users .wrap {
    min-width: 705px;
}

#usersGrid {
    min-width: 675px;
}

#users tbody, #dispatcher tbody {
    font-size: .9em;
}

#users tbody a {
    color: #0055cc;
    text-decoration: underline;
}

#addNew {
    background: url('../img/addUser.png') no-repeat;
    height: 45px;
    margin: 0 0 -32px 10px;
}

#addUser {
    width: 120px;
    margin: 0 0 25px 70px;
    cursor: pointer;
    color: @blue;
    display: block;
    font-size: 1.1em;
}

#addUser:hover {
    text-decoration: underline;
}

#Role, #RoleEdit {
    width: 155px;
    height: 22px;
    margin-left: 2px;
}

.k-edit-form-container .k-grid-update {
    margin-left: 116px;
    .buttonGradient;
}

div.k-window-content {
    padding-top: 25px;
    padding-bottom: 25px;
}

.k-edit-form-container .k-grid-update:hover {
    .buttonGradientHover;
}

.k-edit-form-container #btnAdd {
    margin-left: 87px;
    margin-right: 0;
    .buttonGradient;
}

.k-edit-form-container .k-edit-label {
    margin-left: 45px;
}

#btnAdd:hover {
    .buttonGradientHover;
}

.k-edit-form-container #btnCancel {
    margin: 0;
}

.k-grid-cancel {
    margin-left: 12px;
}

.k-grid .k-grid-edit {
    background-position: 0 -66px;
    margin-right: 4px;
}

.k-grid-edit:hover {
    background-position: 0 -44px;
}

.k-grid-delete {
    background-position: 0 -110px;
}

.k-grid-delete:hover {
    background-position: 0 -88px;
}

.k-edit-label.title {
    width: 95%;
    font-size: 1.2em;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 10px;
    border-bottom: 1px solid @charcoal;
}

.k-edit-form-container p {
    font-size: 1.2em;
    margin: -5px 0 10px 200px;
}

.k-edit-form-container .k-dropdown {
    width: 157px;
}

.k-edit-field {
    width: 200px;
}

/*endregion*/
/*region Settings - Dispatcher*/
#dispatcher .wrap {
    min-width: 450px;
}
#dispatcher .k-grid th {
    text-overflow: ellipsis;
}
#dispatcher #color {
    width: 20px;
    height: 20px;
    border: 1px solid #000000;
    margin-left: 12px;
}
#dispatcher #color:hover {
    cursor: pointer;
}
#dispatcher .k-grid .k-grid-header .k-header .k-link {
    height: auto;
}
#dispatcher .k-grid .k-grid-header .k-header {
    white-space: normal;
}
#dispatcher .arrow {
    position: relative;
    top: -4px;
    left: 23px;
    width: 8px;
    height: 8px;
    background-image: url(../img/arrow.png);
}
#dispatcher .saveBtn {
    margin-left: 145.5px;
}
.k-grid-add {
    background-position: 0 -22px;
}
.k-grid-add:hover {
    background-position: 0 0;
}
/*region COLOR PICKER*/
.colorpicker {
    width: 211px;
    height: 176px;
    overflow: hidden;
    position: absolute;
    background: url(../img/custom_background.png);
    font-family: Arial, Helvetica, sans-serif;
    display: none;
}
.colorpicker_color {
    width: 150px;
    height: 150px;
    left: 14px;
    top: 13px;
    position: absolute;
    background: #f00;
    overflow: hidden;
    cursor: crosshair;
}
.colorpicker_color div {
    position: absolute;
    top: 0;
    left: 0;
    width: 150px;
    height: 150px;
    background: url(../img/colorpicker_overlay.png);
}

.colorpicker_color div div {
    position: absolute;
    top: 0;
    left: 0;
    width: 11px;
    height: 11px;
    overflow: hidden;
    background: url(../img/colorpicker_select.gif);
    margin: -5px 0 0 -5px;
}

.colorpicker_hue {
    position: absolute;
    top: 13px;
    left: 171px;
    width: 35px;
    height: 150px;
    cursor: n-resize;
}

.colorpicker_hue div {
    position: absolute;
    width: 35px;
    height: 9px;
    overflow: hidden;
    background: url(../img/custom_indic.gif) left top;
    margin: -4px 0 0 0;
    left: 0;
}

.colorpicker_new_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 213px;
    top: 13px;
    background: #f00;
}

.colorpicker_current_color {
    position: absolute;
    width: 60px;
    height: 30px;
    left: 283px;
    top: 13px;
    background: #f00;
}

.colorpicker input {
    display: none;
}

.colorpicker_hex {
    position: absolute;
    width: 72px;
    height: 22px;
    left: 212px;
    top: 142px;
}

.colorpicker_hex input {
    right: 6px;
}

.colorpicker_field {
    height: 22px;
    width: 62px;
    background-position: top;
    position: absolute;
}

.colorpicker_field span {
    position: absolute;
    width: 12px;
    height: 22px;
    overflow: hidden;
    top: 0;
    right: 0;
    cursor: n-resize;
}

.colorpicker_submit {
    position: absolute;
    width: 22px;
    height: 22px;
    background: url(../img/custom_submit.png) top;
    left: 322px;
    top: 142px;
    overflow: hidden;
}

.colorpicker_focus {
    background-position: center;
}

.colorpicker_hex.colorpicker_focus {
    background-position: bottom;
}

.colorpicker_submit.colorpicker_focus {
    background-position: bottom;
}

.colorpicker_slider {
    background-position: bottom;
}

.colorSelector2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 36px;
    height: 36px;
    background: url(../img/selectColor.png);
}

.colorSelector2:hover {
    cursor: pointer;
}

.colorSelector2 div {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 28px;
    height: 28px;
    background: url(../img/selectColor.png) center;
}

.colorpickerHolder2 {
    top: 32px;
    left: 0;
    width: 356px;
    height: 0;
    overflow: hidden;
    position: absolute;
}

.colorpickerHolder2 .colorpicker {
    background-image: url(../img/custom_background.png);
    position: absolute;
    bottom: 0;
    left: 0;
}

.colorpickerHolder2 .colorpicker_hue div {
    background-image: url(../img/custom_indic.gif);
}

.colorpickerHolder2 .colorpicker_submit {
    background-image: url(../img/custom_submit.png);
}

.colorpickerHolder2 .colorpicker input {
    color: #778398;
}

/*endregion*/
#dispatcher .customWidget {
    position: absolute;
    height: 36px;
    margin-top: -33px;
    z-index: 100;
    padding: 6px;
}

#dispatcher input[type="checkbox"]:hover {
    cursor: pointer;
}

#dispatcher .gridColor {
    position: relative;
    left: 5px;
    width: 26px;
    height: 26px;
    margin-right: 0;
}

#dispatcher .colorInput {
    visibility: hidden;
    max-width: 30px;
    padding: 5px;
}

#dispatcherGrid tbody tr {
    min-height: 30px;
}

#dispatcherGrid {
    min-width: 262px;
    font-size: 1.1em;
}

/*endregion*/
/*region Services */
#services {
    background-color: #fff;
    background-image: url("../img/background-tile.png");
    .km-content {
        min-width: 720px;
    }
    #left {
        height: 100%;
        width: auto;
        margin: 0 370px 15px 15px;
    }
    .addDeleteBtns {
        position: absolute;
        width: 80px;
        right: 370px;
        top: 22px;
        .csvBtn {
            background-position: 0 -176px;
        }
        .csvBtn:hover {
            background-position: 0 -154px;
        }
    }
    .k-grid td {
        line-height: 1.3em;
        font-size: 14px;
    }
    input[type="checkbox"] {
        vertical-align: middle;
    }
    .k-dropdown-wrap {
        padding: 0 22px 0 0;
        border-radius: 4px;
    }
    .k-grid-content {
        overflow-x: scroll;
    }
    #top {
        width: 680px;
        padding: 10px 0;
        label {
            position: relative;
            top: 3px;
            margin-right: 5px;
            padding-left: 20px;
            color: @textColor;
            font-size: 1.5em;
        }
        .select2-container {
            margin-top: 5px;
        }
    }
  #serviceDetails{
    width: 270px;
  }
  #serviceTypes {
    display: inline;
  }
}

#serviceDetails, #taskServiceDetails {
    font-family: "PTSans";
    color: @textColor;
    width: 270px;
    input, label{
        color: @textColor;
    }
    label, li {
        line-height: 22px;
    }
    li {
        margin-bottom: 5px;
        padding: 3px 0 1px 0;
        line-height: 1.5em;
        .percentSign {
            position: absolute;
            margin-top: 5px;
            font-size: 15px;
        }
        .dollarSign {
            position: absolute;
            margin-top: 4px;
            font-size: 16px;
            margin-left: 2px;
        }
    }
    .select2-container {
        margin-bottom: 5px;
    }
    li.textarea {
        vertical-align: top;
        margin-bottom: 0;
    }
    .k-timepicker, .k-datepicker, .k-combobox, input[type="text"], input[type="number"], .select2-container, .k-numerictextbox {
        width: 100%;
        font-size: 14px;
    }
    .k-numeric-wrap, input[type="text"], .k-state-hover, textarea, .km-listview li{
        border: none;
        border-radius: 0;
        background-color: #fff;
    }
    input[type="number"], input[type="text"] {
        height: 24px;
        padding-left: 0px;
        font-family: "PTSans";
    }
//this fixes a large border bug in IE
    input[type="checkbox"] {
        border: none;
        outline: none;
        padding: 0;
    }
    .k-numeric-wrap .k-input {
        width: 100%;
    }
    .k-numeric-wrap .k-formatted-value {
        width: 99%;
    }
    .k-numerictextbox .k-select {
        padding-top: 3px;
    }
    input[type="text"].k-input {
        height: 19px;
    }
    input[type="text"]:not(.k-input) {
        padding-left: 5px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .k-combobox input[type="text"] {
        height: 21px;
    }
    .k-picker-wrap {
        padding: 1px 22px 1px 1px;
    }
    textarea {
        width: 100% !important;
        margin: 0;
        min-width: 6em;
        padding-left: 5px !important;
        outline: 0;
        background: #fff;
        color: @textColor;
        font-family: "PTSans";
        font-size: 14px;
        box-sizing: border-box;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
    }
    .km-listview-wrapper ul {
        width: 100%;
        margin: 0 0 5px 0;
        font-size: 16px;
        li {
            background-color: #fff;
            margin-bottom: 0;
        }
    }
    .km-listview-label {
        font-size: 14px;
        padding-left: 15px;
    }
    .k-dropdown{
        font-size: 1em;
        width: 100%;
    }
    .styled-select{
        width: 100%;
        height: 28px;
        overflow: hidden;
        background: url("../img/select-closed.png") no-repeat right #fff;
    }
    .styled-select.open{
        background: url("../img/select-open.png") no-repeat right #fff;
    }
    .selectBox {
        width: 100%;
        height: 28px;
        padding: 5px;
        border: none;
        font-size: 14px;
        font-family: PTSans;
        -webkit-appearance: none;
        background: transparent;
    }
}

#taskServiceDetails{
  padding: 0;
  margin: auto;
}

#serviceDetails {
    display: none;
    position: absolute;
    top: 51px;
    right: 30px;
    background-color: #F2F2F2;
    padding: 10px 20px;
    overflow-y: auto;
    label.client, label.location{
        line-height: 1.5em;
    }
}
/*endregion*/
/*region Widgets */
.contactInfo {
    margin: 1em;
    color: @textColor;
    font-size: 12px;
    h3 {
        margin: 0 0 5px 0;
        font-size: 20px;
        color: @textColor;
    }
    label{
        color: @textColor;
    }
    .addButtonWrapper{
        width: 82px;
        margin: 0 auto;
    }
    .saveDeleteButtonWrapper{
        width: 140px;
        margin: 0 auto;
    }
    .contactList {
        margin-bottom: 15px;
        li {
            height: 60px;
            background-color: #fff;
            border-bottom:1px solid #F2F2F2;
            .info {
                height: 45px;
                overflow: hidden;
                display: block;
                padding: 10px 5px 5px 5px;
                cursor: pointer;
                span{
                    width: 35px;
                    height: 35px;
                    display: block;
                    float: left;
                    &.Email{
                        background: url("../img/contactInfo.png") no-repeat 0 -35px;
                    }
                    &.Phone{
                        background: url("../img/contactInfo.png") no-repeat 0 -105px;
                    }
                    &.Website{
                        background: url("../img/contactInfo.png") no-repeat 0 -70px;
                    }
                    &.Other{
                        background: url("../img/contactInfo.png") no-repeat 0 -140px;
                    }
                }
                .label{
                    font-size: 14px;
                    color: @blue;
                    margin: 0;
                }
                .value{
                    font-size: 16px;
                    margin: 0;
                }
                p{
                    padding-left: 5px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    cursor: pointer;
                }
            }
            .editBtn {
                float: right;
                width: 50px;
                height: 100%;
                cursor: pointer;
                span{
                    width: 35px;
                    height: 35px;
                    display: block;
                    margin: 13px 0 0 6px;
                    background: url("../img/contactInfo.png") no-repeat;
                }
            }
            &:hover > div, &:hover > a {
                background-color: #eee;
            }
            &:hover > div:hover, &:hover > a:hover {
                background-color: #dfdfdf;
            }
            &:last-child {
                margin-bottom: 10px;
            }
        }
    }
    .add {
        width: 85px;
        font-size: 14px;
        color: @green;
        span{
            background-position: -115px -180px;
        }
    }
    .editWrapper{
        display: none;
        width: 100%;
        label{
            color: @textColor;
            font-size: 14px;
            line-height: 22px;
        }
        .labelIcon{
            width: 26px;
            height: 26px;
            display: block;
            float: left;
        }
        .value{
            width: 100%;
            height: 24px;
            margin-bottom: 5px;
            padding-left: 5px;
            border: none;
            color: @textColor;
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .select2-container{
            margin-bottom: 10px;
            .select2-choices{
                height: 26px !important;
                border: none;
                background-image: none;
                .select2-search-choice-close{
                    top:2px;
                }
                .select2-search-choice{
                    padding-top: 2px;
                }
            }
            &:not(.iconContainer){
                margin-bottom: 15px;
            }
        }
        .labelContainer{
            right: 0;
        }
    }
    button{
        font-size: 14px;
    }
    .save, .delete{
        display: none;
    }
    .delete{
        color: @red;
        span{
            background-position: -115px -135px;
        }
    }
    .save{
        float: left;
        margin: 0 9px 0 0;
        color: @green;
        span{
            background-position: -114px -157px;
        }
    }
    .k-button{
        border-radius: 0;
        border: none;
        background: #fff;
        &:hover{
            background-color: #ddd;
        }
    }
}

#repeat{
    display: none;
    position: absolute;
    top: 54px;
    right: 30px;
    width: 250px;
    padding: 10px 20px;
    font-size: 15px;
    background-color:#fff;
    -moz-box-shadow: 0 5px 8px #aaa;
    -webkit-box-shadow: 0 5px 8px #AAA;
    box-shadow: 0 5px 8px #AAA;
    h3{
        font-size: 20px;
        margin: 0 0 5px 0;
    }
    label:not(#weeklyRepeatOn label){
        line-height: 1.5em;
    }
    #weeklyRepeatOn{
        display: none;
        position: relative;
        top:5px;
        label{
            float: left;
        }
    }
    #monthlyRepeatOn {
        display:none;
        label{
            vertical-align: middle;
        }
    }
    #weekdayWrapper{
        width: 225px;
        margin: 0 auto;
    }
    .weekday{
        float: left;
        width: 26px;
        height: 24px;
        padding-top: 3px;
        vertical-align: middle;
        text-align: center;
        color:#000000;
        border: 1px solid #c5c5c5;
        border-left: none;
        .bgGradient(#ffffff, #eeeeee);
        &:hover{
            cursor: pointer;
            .bgGradient(#eeeeee, #cccccc);
        }
        &:active{
            cursor: pointer;
            .bgGradient(#aaaaaa, #888888);
        }
        //rounded left piece of weekday selectors
        &.left{
            width: 16px;
            border-left: 1px solid #c5c5c5;
            border-bottom-left-radius: 16px;
            border-top-left-radius: 16px;
        }
        //rounded right piece of weekday selectors
        &.right{
            width: 16px;
            border-right: 1px solid #c5c5c5;
            border-bottom-right-radius: 16px;
            border-top-right-radius: 16px;
        }
        //don't make the ends blue when they're selected
        &.selected:not(.left):not(.right){
            color: #ffffff;
            .bgGradient(#36C3E3, #488FCD);
        }
        &.selected:hover:not(.left):not(.right){
            .bgGradient(#44AFE4, #0067A0);
        }
    }
    #repeatLabel{
        position: relative;
        top: 2px;
        left: 2px;
    }
    #startDate .k-datepicker, .k-dropdown, #repeatEvery .k-numerictextbox{
        width: 100%;
        font-size: 1em;
    }
    .k-dropdown{
        height: 29px;
        .k-input{
            padding-top: 5px;
        }
    }
    #endDate{
        label{
            padding-left: 2px;
            vertical-align: text-bottom;
        }
        .k-dropdown{
            width: 80px;
        }
        .k-numerictextbox,.k-datepicker{
            display: none !important;
            width: 160px;
            margin: 0px 0 3px 10px;
        }
        .k-numerictextbox.showInput,.k-datepicker.showInput{
             display: inline-block !important;
         }
    }
    .k-dropdown, #startDate, #repeatEvery, #weeklyRepeatOn, #monthlyRepeatOn, .select2-container{
        margin-bottom: 10px;
    }
    .k-input{
      height: 17px;
    }
}

#locationWidget{
    display: none;
    position: absolute;
    top: 54px;
    right: 30px;
    width: 250px;
    height: 285px;
    overflow: hidden;
    padding: 15px 20px;
    font-size: 15px;
    background-color:@white;
    -moz-box-shadow: 0 5px 8px #aaa;
    -webkit-box-shadow: 0 5px 8px #AAA;
    box-shadow: 0 5px 8px #AAA;
    h3{
        font-size: 20px;
        margin: 0 0 5px 0;
    }
    label{
        line-height: 1.5em;
    }
    #locationWidgetMap{
        width: 250px;
        height: 250px;
        .leaflet-popup-content {
            margin: 10px;
        }
    }
    #locationWidgetMap.shown {
      opacity: 1;
    }
    #locationWidgetMap.hidden {
      opacity: .3;
    }
    #buttonPane{
        position: relative;
        top: -250px;
        left: 0;
        width: 250px;
        height: 2px;
        background:none;
        border: 1px solid transparent;
        #navigateBtn{
          display: none;
            position: absolute;
            top:5px;
            right: 5px;
            width: 22px;
            height: 22px;
            background: url("../img/navigateBtn.png") no-repeat;
        }
        .k-grid-edit{
            position: absolute;
            top:5px;
            left: 5px;
            width: 22px;
            height: 22px;
            background-position: 0 -66px;
            &:hover{
                background-position: 0 -44px;
            }
        }
    }
    #buttonPane.shown{
      left: 0;
    }
    #buttonPane.hidden{
      left: 300px;
    }
    #editPane{
        position: relative;
        top: -250px;
        left: -300px;
        width: 250px;
        min-height: 35px;
        border: 1px solid #aaaaaa;
        background-color: @white;
        input{
            width: 213px;
            margin: 3px 0 3px 3px;
            padding: 2px 25px 2px 4px;
            border: 1px solid #AAA;
            border-radius: 4px;
            font-family: PTSans;
            background: url("../img/smallSearch.png") no-repeat right center;
        }
        ul{
            width: 250px;
            max-height: 215px;
            border-top: 1px solid #aaaaaa;
            overflow-y: auto;
        }
        li{
            height: 36px;
            padding: 5px 4px 5px 4px;
            font-size: 14px;
            background-color: #efefef;
            cursor: pointer;
            &:hover{
              .rowGradient;
              color: @white;
            }
            &:not(:last-child){
                border-bottom: 1px solid #aaaaaa;
            }
            span{
              display: table-cell;
            }
            span.name{
              height: 36px;
              vertical-align: middle;
            }
            .fromWeb, #previousLocation, #currentLocation, #manuallyDropPin{
              width: 20px;
              height: 36px;
              vertical-align: middle;
              padding-right: 4px;
              background: url("../img/previousLocation.png") no-repeat left center;
            }
            #currentLocation{
              background: url("../img/currentLocation.png") no-repeat left center;
            }
            #manuallyDropPin{
              background: url("../img/markerIcon.png") no-repeat left center;
            }
            .fromWeb{
              background: url("../img/webIcon.png") no-repeat left center;
            }
        }
        li.singleLine .name{
            padding-top: 9px;
        }
        li.tripleLine .name{
            font-size: 11px;
        }
    }
    #editPane.shown{
        left: 0px;
    }
    #editPane.hidden{
       left: -300px;
    }
}
/*endregion*/
/*region Tooltip */
#tooltip {
    position: absolute;
    margin-right: 60px;
    z-index: 3000;
    color: @white;
    border-radius: 4px;
    background-color: #000;
    padding: 4px 8px;
    opacity: .8;
}

#tooltip h3, #tooltip div {
    margin: 0;
}
/*endregion*/
/*region Noty*/
/*region Noty Base*/
/* noty bar */
.noty_bar {
    position: fixed;
    display: none;
    z-index: 9999999;
}

/* noty_message */
.noty_bar .noty_message {
    text-align: center;
}

/* noty close button */
.noty_bar .noty_close {
    cursor: pointer;
}

/* noty modal */
.noty_modal {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
    opacity: 0.6;
    display: none;
    left: 0;
    top: 0;
}

/* noty container for noty_layout_topLeft & noty_layout_topRight */
ul.noty_cont {
    position: fixed;
    z-index: 10000000;
    margin: 0;
    padding: 0;
    list-style: none;
    width: 300px;
}

ul.noty_cont li {
    position: relative;
    float: left;
    clear: both;
    list-style: none;
    padding: 0;
    margin: 10px 0 0 0;
    width: 300px; /* Fix for: http://bugs.jquery.com/ticket/2278 */
}

ul.noty_cont.noty_layout_topLeft {
    left: 20px;
    top: 20px;
}

ul.noty_cont.noty_layout_topRight {
    right: 40px;
    top: 20px;
}

ul.noty_cont.noty_layout_bottomLeft {
    left: 20px;
    bottom: 20px
}

ul.noty_cont.noty_layout_bottomRight {
    right: 40px;
    bottom: 20px
}

ul.noty_cont.noty_layout_topRight li {
    float: right
}

/* LAYOUTS */

/* noty_layout_top */
.noty_bar.noty_layout_top {
    top: 0;
    left: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* noty_layout_bottom */
.noty_bar.noty_layout_bottom {
    bottom: 0;
    left: 0;
    width: 100%;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* noty_layout_center */
.noty_bar.noty_layout_center {
    top: 40%;
}

/* noty_layout_topLeft & noty_layout_topRight */
.noty_bar.noty_layout_topLeft,
.noty_bar.noty_layout_topRight,
.noty_bar.noty_layout_bottomLeft,
.noty_bar.noty_layout_bottomRight {
    width: 100%;
    clear: both;
    position: relative;
}

.noty_bar.noty_layout_topLeft .noty_message,
.noty_bar.noty_layout_topRight .noty_message,
.noty_bar.noty_layout_bottomLeft .noty_message,
.noty_bar.noty_layout_bottomRight .noty_message {
    text-align: left;
}

/* noty_layout_topCenter */
.noty_bar.noty_layout_topCenter {
    top: 20px;
}

/*endregion*/
/*region Default Theme*/
/* noty bar */
.noty_bar.noty_theme_default {
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABsAAAAoCAYAAAAPOoFWAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAPZJREFUeNq81tsOgjAMANB2ov7/7ypaN7IlIwi9rGuT8QSc9EIDAsAznxvY4pXPKr05RUE5MEVB+TyWfCEl9LZApYopCmo9C4FKSMtYoI8Bwv79aQJU4l6hXXCZrQbokJEksxHo9KMOgc6w1atHXM8K9DVC7FQnJ0i8iK3QooGgbnyKgMDygBWyYFZoqx4qS27KqLZJjA1D0jK6QJcYEQEiWv9PGkTsbqxQ8oT+ZtZB6AkdsJnQDnMoHXHLGKOgDYuCWmYhEERCI5gaamW0bnHdA3k2ltlIN+2qKRyCND0bhqSYCyTB3CAOc4WusBEIpkeBuPgJMAAX8Hs1NfqHRgAAAABJRU5ErkJggg==') repeat-x scroll left top #fff;
}

/* if you use noty with customContainer you can access noty with this way
    *	 .noty_custom_container noty will add automaticly this class to your customContainer
    *	 .noty_theme_default 		your theme
    *	 .noty_layout_inline		your layout
    */

/* custom container */
.noty_custom_container.noty_theme_default.noty_layout_inline {
    position: relative;
}

/* custom growl container */
.noty_custom_container.noty_theme_default.noty_layout_inline .noty_cont.noty_layout_inline {
    position: static;
}

/* custom noty bar */
.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar {
    border-width: 1px;
    border-style: solid;
    position: static;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar .noty_message {
    font-size: 13px;
    padding: 4px;
}

.noty_custom_container.noty_theme_default.noty_layout_inline .noty_bar .noty_message .noty_buttons {
    margin-top: -1px;
}

/* noty_message */
.noty_bar.noty_theme_default .noty_message {
    padding: 8px 14px;
    font-size: 16px;
    font-weight: bold;
    width: auto;
}

.noty_bar.noty_theme_default.noty_closable .noty_message {
    padding: 8px 34px 8px 14px;
}

/* noty_buttons */
.noty_bar.noty_theme_default .noty_message .noty_buttons {
    float: right;
    font-size: 13px;
    margin-top: -4px;
    margin-left: 4px;
}

/* noty_button */
.noty_bar.noty_theme_default .noty_message .noty_buttons button {
    margin-left: 5px;
}

/* noty close button */
.noty_bar.noty_theme_default .noty_close {
    position: absolute;
    top: 10px;
    right: 10px;
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAORJREFUeNq0lU0OgjAQhRm5gUl3rLyBB3BDQjwI4TDcgmu4NqwNJGxdueqWA4zzCJoxtvxoeckLzbz2C5ShEDNHDiXis/gkPooPY/0uvomv4ov48bUSQGUSF+Ka51WPc0kzNGwvLnm9ynHtB5B+hGkoaWDB/6t4AZOFe7ZkTxMAc1dqreU0TbnrunetbVvOsmzIPMoBrFwJYGgCY8wAgjFGDZlHFYCNK9EAXPUYmUcNgL0v1dAFMKjfRSsVx/H0hC0eOfhLmWwbfTcYozbXNsEbO/int8nhEPz4CnbAUuhfwFOAAQAA48KKOuexjwAAAABJRU5ErkJggg==');
    width: 20px;
    height: 20px;
}

/* noty modal */
.noty_modal.noty_theme_default {
    opacity: 0.7;
}

/* LAYOUTS */

/* noty_layout_top */
.noty_bar.noty_theme_default.noty_layout_top {
    border-bottom: 3px solid #eee;
}

/* noty_layout_bottom */
.noty_bar.noty_theme_default.noty_layout_bottom {
    border-top: 3px solid #eee;
}

.noty_bar.noty_theme_default.noty_layout_center .noty_close {
    top: 8px;
}

.noty_bar.noty_theme_default.noty_layout_center .noty_message .noty_buttons {
    margin-top: -2px
}

/* noty_layout_topLeft & noty_layout_topRight */
.noty_bar.noty_theme_default.noty_layout_center,
.noty_bar.noty_theme_default.noty_layout_topLeft,
.noty_bar.noty_theme_default.noty_layout_topRight,
.noty_bar.noty_theme_default.noty_layout_bottomLeft,
.noty_bar.noty_theme_default.noty_layout_bottomRight {
    border: 1px solid #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.noty_bar.noty_theme_default.noty_layout_center .noty_message,
.noty_bar.noty_theme_default.noty_layout_topLeft .noty_message,
.noty_bar.noty_theme_default.noty_layout_topRight .noty_message,
.noty_bar.noty_theme_default.noty_layout_bottomLeft .noty_message,
.noty_bar.noty_theme_default.noty_layout_bottomRight .noty_message {
    font-size: 13px;
    font-weight: normal;
}

.noty_bar.noty_theme_default.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_layout_bottomRight .noty_message .noty_buttons {
    float: none;
    border-top: 1px solid #ccc;
    margin-left: 0;
    margin-top: 10px;
    padding-top: 10px;
    text-align: right;
}

/* noty_layout_topCenter */
.noty_bar.noty_theme_default.noty_layout_topCenter {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.noty_bar.noty_theme_default.noty_layout_topCenter .noty_message {
    font-weight: normal;
    font-size: 13px;
}

.noty_bar.noty_theme_default.noty_layout_topCenter .noty_close {
    top: 50%;
    margin-top: -10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

.noty_bar.noty_theme_default.noty_layout_topCenter.noty_success {
    border: 1px solid #50C24E;
}

.noty_bar.noty_theme_default.noty_layout_topCenter .noty_message .noty_buttons {
    margin-left: 15px;
    margin-top: 0;
}

/* NOTIFICATION TYPES */

/* noty_notification */
.noty_bar.noty_theme_default.noty_notification {
    background-color: @white;
    border-color: #ccc;
    color: #555;
}

.noty_bar.noty_theme_default.noty_notification.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_notification.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_notification.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_notification.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #ccc;
}

/* noty_warning */
.noty_bar.noty_theme_default.noty_warning {
    background-color: #FFEAA8;
    border-color: #FFC237;
    color: #826200;
}

.noty_bar.noty_theme_default.noty_warning.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_warning.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_warning.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_warning.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #FFC237;
}

/* noty_alert */
.noty_bar.noty_theme_default.noty_alert {
    background-color: @white;
    border-color: #ccc;
}

.noty_bar.noty_theme_default.noty_alert.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_alert.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_alert.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_alert.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #ccc;
}

/* noty_error */
.noty_bar.noty_theme_default.noty_error {
    background-color: #ff0000;
    color: @white;
    border-color: darkred;
}

.noty_bar.noty_theme_default.noty_error .noty_message {
    font-weight: bold;
}

.noty_bar.noty_theme_default.noty_error.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_error.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_error.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_error.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: darkred;
}

/* noty_success */
.noty_bar.noty_theme_default.noty_success {
    background-color: lightgreen;
    color: darkgreen;
    border-color: #50C24E;
}

.noty_bar.noty_theme_default.noty_success.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_success.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_success.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_success.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #50C24E;
}

/* noty_information */
.noty_bar.noty_theme_default.noty_information {
    background-color: #57B7E2;
    border-color: #0B90C4;
    color: @white;
}

.noty_bar.noty_theme_default.noty_information.noty_layout_topLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_information.noty_layout_topRight .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_information.noty_layout_bottomLeft .noty_message .noty_buttons,
.noty_bar.noty_theme_default.noty_information.noty_layout_bottomRight .noty_message .noty_buttons {
    border-color: #0B90C4;
}

/*endregion*/
/*region Changes to Noty*/
.noty_bar.noty_layout_topCenter {
    top: 45px;
}

/* noty bar */
.noty_bar.noty_theme_default {
    background: none;
}

/* noty_layout_topCenter */
.noty_bar.noty_theme_default.noty_layout_topCenter {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0 0 4px 4px;
}

/* noty_success */
.noty_bar.noty_theme_default.noty_success {
    background-color: @white;
    color: @green;
}

.noty_bar.noty_theme_default.noty_layout_topCenter.noty_success {
    border-color: @white;
}

/* noty_error */
.noty_bar.noty_theme_default.noty_error {
    background-color: @white;
    color: @red;
}

.noty_bar.noty_theme_default.noty_layout_topCenter.noty_error {
    border-color: @white;
}

.noty_bar a {
    color: @blue;
    text-decoration: underline;
}

/*endregion*/
/*endregion*/
/*region Overrides for select2*/
.select2-container .select2-choice, .select2-dropdown-open .select2-choice, .select2-drop{
    border: none;
    border-radius: 0;
    background-color: #fff;
    background-image:none;
    color: @textColor;
    font-size: 14px;
    div{
        border: none;
        border-radius: 0;
        background-image:none;
    }
}
.iconDropdown.select2-drop{
    font-size: 16px;
}
//remove shadows
.select2-drop, .select2-container-active .select2-choice, .select2-container-active .select2-choices {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
.select2-container-multi.select2-container-active .select2-choices {
    -webkit-box-shadow: 0 0 0px;
    -moz-box-shadow   : 0 0 0px;
    -o-box-shadow     : 0 0 0px;
    box-shadow        : 0 0 0px;
    border: none;
    outline: none;
}
.select2-container .select2-choice div{
    background-color: #fff;
}
.select2-results .select2-highlighted{
    background: @blue;
}
//next 2 styles make the dropdown arrow blue
.select2-container .select2-choice div b {
    background: url('../img/select-closed.png') no-repeat right;
}
.select2-dropdown-open .select2-choice div b {
    background-position: 1px 8px;
}
.select2-results {
    min-height: 18px;
}
.select2-results .select2-no-results, .select2-results .select2-searching, .select2-results .select2-selection-limit {
    background: #fff;
}
.select2-container .select2-choice span {
    font-size: 14px;
}
.select2-search input{
    border: 1px solid #f2f2f2;
}
.labelDropdown, .iconDropdown{
    border: 2px solid #F2F2F2;
    border-top: none;
    margin-top: 0;
    margin-left: -1px;
}
.iconContainer {
    .select2-choice {
        background-color: transparent;
        div {
            background-color: transparent;
            b {
                background: none;
            }
        }
    }
}
.iconDropdown {
    .select2-results{
        margin: 4px 2px 4px -1px;
    }
    ul{
        padding: 0;
    }
}
.EmailSmall, .WebsiteSmall, .PhoneSmall, .OtherSmall, .iconDropdown .select2-results .select2-highlighted{
    background: url("../img/contactInfoSmall.png") no-repeat 0 0;
}
.select2-results .EmailSmall{
    background-position: 0 -140px;
}
.select2-results .WebsiteSmall{
    background-position: 0 -175px;
}
.select2-results .PhoneSmall{
    background-position: 0 -210px;
}
.select2-results .OtherSmall{
    background-position: 0 -245px;
}
.EmailSmall, .select2-results .EmailSmall.select2-highlighted{
    background-position: 0 0;
}
.WebsiteSmall, .select2-results .WebsiteSmall.select2-highlighted{
    background-position: 0 -35px;
}
.PhoneSmall, .select2-results .PhoneSmall.select2-highlighted{
    background-position: 0 -70px;
}
.OtherSmall, .select2-results .OtherSmall.select2-highlighted{
    background-position: 0 -105px;
}
/*endregion*/