.idea/
*.xcuserstate
*/.DS_Store
npm-debug.log
build/main/
build/grunt/node_modules
build/mobile/Android/assets/www/
build/grunt/app/
build/grunt/test/
login/login-test.html
temp
node_modules
dist
app/styles/main.css
app/index.html
app/compiledViews.html
app/styles/login.css
app/styles/requirements.css
