**/.DS_Store
nbproject
manifest.mf
build.xml

.idea/
Android/assets/
Android/bin/
Android - Built/assets/
Android - Built/bin/
buildsmap/
buildsmobile/
PhoneGap Build Package/

*.xcuserstate

iOS/FoundOPS.xcodeproj/project.xcworkspace/xcuserdata/Oren.xcuserdatad/UserInterfaceState.xcuserstate
