body{
    font-family:"Alte Haas Grotesk";
}
#map{
    height: 500px; 
    border: 1px solid #333335;
}
​ .leaflet-popup-content{
      min-width: 155px;
}
.leaflet-marker-icon .number{
	position: relative;
	top: -7px;
    left: -2.9px;
	font-size: 9px;
    color: #fff;
    margin: 0px;
    padding: 0px;
}
.speed{
    min-width: 130px;
}