<div id="routeTask" data-init="routeTask.initialize" data-show="routeTask.show" data-role="view" data-title="Route Task"
     data-model="routeTask.vm">

    <div id="taskServiceDetails" data-role="kendoServiceDetails" data-bind="service: selectedService"></div>

    <div class="statusLabel"><span>Status</span></div>
    <ul id="routeStatus-listview" data-role="listview" data-style="inset" style="margin-top:0;">
        <li style="padding-bottom: 8px; text-align: center; color: black">
            <a class="km-button" data-bind="click: openTaskStatuses, style: { backgroundColor: selectedTaskStatus.Color}">
                <span style="color:black" data-bind="text: selectedTaskStatus.Name"></span>
            </a>
        </li>
    </ul>

    <ul id="taskStatuses-actionsheet" data-role="actionsheet">
        <p id="actionSheetTitle">Mark Task As:</p>
        <ul id="taskStatuses-listview" style="text-align: center"
            data-bind="source:taskStatusesSource, click:selectStatus"
            data-role="listview" data-style="inset" data-template="taskStatusTemplate"></ul>
    </ul>

</div>
<script type="text/x-kendo-template" id="taskStatusTemplate">
    <a class="km-listview-link" style="background-color:#=Color#" taskId="#=Id#">#=Name#</a>
</script>
