^data-title="Review Data"^
<div class="wrapper">
    <ul class="crumbs">
        <li onclick="application.navigate('importerUpload')"><span></span><p>Upload File</p></li>
        <li onclick="application.navigate('importerSelect')"><span></span><p>Select Fields</p></li>
        <li class="active"><span></span><p>Review Data</p></li>
        <li></li>
    </ul>
    <div class="wrap">
        <div class="grid"></div>
        <div class="buttonWrapper">
            <button class="k-button k-button-icontext cancelBtn" onclick="application.navigate('importerSelect')">Back</button>
            <!--disable button initially-->
            <button id="importBtn" class="k-button k-button-icontext saveBtn"><span class="k-icon k-update"></span>Import</button>
        </div>
    </div>
</div>