@font-face {
    font-family: PTSans;
    src: url(PTS55F.ttf);  /* TTF file for CSS3 browsers */
}
body{
    font-family: PTSans;
}
#map{
    height: 500px; 
    border: 1px solid #333335;
}
​ .leaflet-popup-content{
      min-width: 155px;
}
.leaflet-marker-icon .number{
	position: relative;
	top: -6.5px;
    left: -3px;
	font-size: 8.5px;
    color: #fff;
    margin: 0px;
    padding: 0px;
    text-align: center;
}
.speed{
    min-width: 130px;
}