<div data-init="review.initialize" data-role="view" data-title="Review Data" id="review">
    <div class="help">
        <ol>
            <div class="arrowA"></div>
            <li>Check Our Headers <br /> Make sure they correctly align with your data below.</li>
            <div class="arrowB"></div>
            <li>Is this row headers or data? <br /> If it's one of your old headers,
                we don't want to import it. Check "Don't Import".</li>
            <li>Review Your Data <br /> If you see <span class="warning">&nbsp;&nbsp;</span>, it means we are missing data
                and cannot create a service from this row. Click on the cell to add the correct information. We
                have automatically filled in some cells for you already.
                <ul>
                    <li><div id="exists"></div><p>Matched to existing</p></li>
                    <li><div id="autofilled"></div><p>Autofilled from FoundOPS</p></li>
                    <li><div id="synced"></div><p>Synced from web</p></li>
                </ul>
            </li>
            <li>When everything is correct, Click
                <button class="advanceBtn" onclick="importer.import()">Import</button></li>
        </ol>
    </div>
    <div class="wrap">
        <div class="border">
            <p>You are currently reviewing your data!</p>
            <button onclick="importer.select()">Back</button>
        </div>
    </div>
</div>