<div data-init="upload.initialize" data-role="view" data-title="Upload File" id="upload">
    <div class="help">
        <ol>
            <div class="arrowA"></div>
            <li>Select your data file. Make sure it's in .csv format.</li>
            <div class="arrowA"></div>
            <li>Select the type of service.</li>
        </ol>
    </div>
    <div class="wrap">
        <div id="hints" class="border">
            <fieldset>
                <legend>Helpful Hints</legend>
                <ul>
                    <li>Sample excel sheet <a href="../lib/example.xlsx">download</a></li>
                    <li>Ask support for help</li>
                </ul>
            </fieldset>
        </div>
        <div id="main" class="border">
            <input id="fileUpload" type="file" accept=".csv" />
            <br />
            <br />
            <br />
            <label for="serviceType">Service Type</label><br />
            <input id="serviceType"/>
            <br />
            <br />
            <br />
            <button onclick="importer.select()">Upload</button>
        </div>
    </div>
</div>