<div data-init="select.initialize" data-role="view" data-title="Select Fields" id="select">
    <div class="help">
        <ol>
            <div class="arrowA low"></div>
            <li>For each row, select the field from the drop down that matches your data.</li>
            <li>If you can't find a field that matches your data, leave the field marked as 'Do Not Import'.</li>
            <li>When you have finished matching your fields, click 'Review Data'.</li>
        </ol>
    </div>
    <div class="wrap">
            <div class="border">
            <ul id="topHeader">
                <li>Your Data</li><li>Our Fields</li>
            </ul>
            <ul id="bottomHeader">
                <li>Row 1(Header)</li><li>Row 2</li>
            </ul>
            <div id="listView"></div>
            <button onclick="importer.upload()">Back</button>
            <button class="advanceBtn" onclick="importer.review()">Review Data</button>
        </div>
    </div>
</div>