<div data-init="personalSettings.initialize" data-show="personalSettings.show" data-role="view" data-title="Personal User Settings" id="personal">
    <h1>Your Personal User Settings</h1>

    <div class="wrap">
        <h2>The Basics</h2>
        <table>
            <tr>
                <td>First Name:&nbsp;</td>
                <td><input type="text" data-bind="value: settings.FirstName"/></td>
            </tr>
            <tr>
                <td>Last Name:&nbsp;</td>
                <td><input type="text" data-bind="value: settings.LastName"/></td>
            </tr>
            <tr>
                <td>Email Address:&nbsp;</td>
                <td><input type="text" data-bind="value: settings.EmailAddress"/></td>
            </tr>
        </table>
        <h2>Your Photo</h2>
        <img data-bind="attr: {src: settings.ImageUrl}" id="cropbox" onload="personalSettings.resize()"/>
        <form id="imageUploadForm" enctype="multipart/form-data" method="POST">
            <input id="imageUpload" type="file" /><br />
            <input type="hidden" id="imageFileName" name="imageFileName"/>
            <input id="imageData" type="hidden" name="imageData"/>
            <input type="submit" id="uploadBtn" value="Update Image" disabled="disabled"/>
        </form>
        <h2>Password</h2>
        <button>Change Your Password</button>
        <h2>&nbsp;</h2>
        <button class="save" data-bind="click: saveChanges">Save Changes</button>
    </div>
</div>