<div id="routeDestinationDetails" data-role="view" data-layout="mobile-view" data-title="Destination Details"
              data-show="mobile.setupRouteDestinationDetailsBindings">
    <div id="destinationDetailsHolder" data-bind="source: this"
         data-template="destinationDetailsTemplate" ></div>
</div>
<script type="text/x-kendo-template" id="destinationDetailsTemplate">
    <ul class="km-listview km-list km-listinset"><li><a href="http://maps.google.com/maps?q=${selectedDestination.Location.Latitude},${selectedDestination.Location.Longitude}"
        class="km-listview-link">Navigate to Route Stop</a></li></ul>
    <ul id="destinationContactInfoListView" data-bind="source: destinationContactInfoSource"
        data-role="listview" data-style="inset" data-template="contactInfoTemplate"></ul>
</script>
<script type="text/x-kendo-template" id="contactInfoTemplate">
    <a href="tel:${Data}">Call ${Label}</a>
</script>