<div id="routeDestinations" data-role="view" data-layout="mobile-view" data-title="Route Destinations"
     data-init="mobile.setupRouteDestinationsBindings">
    <ul id="routeDestinations-listview" data-bind="source:routeDestinationsSource, click: selectRouteDestination" data-role="listview"
        data-style="inset" data-template="routeDestinationsViewTemplate" style="margin-bottom: 400px;"></ul>
</div>
<script type="text/x-kendo-template" id="routeDestinationsViewTemplate">
    <a>${Client.Name}
        <span id="address-label">${Location.AddressLineOne}</span>
    </a>

</script>