<div data-init="usersSettings.initialize" data-role="view" data-title="Users Settings" id="users">
    <h1>Manage Your Users</h1>
    <div class="wrap">
        <h2>New User</h2>
        <button id="addUser" class="k-button k-grid-add">Add New User</button>
        <h2>Current Users</h2>
        <div id="usersGrid"></div>
    </div>
</div>
<script type="text/x-kendo-template" id="createTemplate">

    <div class="k-edit-form-container">
        <div class="k-edit-label">
            <label for="FirstName">First Name</label>
        </div>
        <div data-container-for="FirstName" class="k-edit-field">
            <input type="text" id="FirstName" name="FirstName" required="required" data-type="text" data-bind="value:FirstName" data-role="textbox"/>
        </div>

        <div class="k-edit-label">
            <label for="LastName">Last Name</label>
        </div>
        <div data-container-for="LastName" class="k-edit-field">
            <input type="text" id="LastName" name="LastName" min="0" required="required" data-type="text" data-bind="value:LastName" data-role="textbox"/>
        </div>

        <div class="k-edit-label">
            <label for="EmailAddress">Email</label>
        </div>
        <div data-container-for="EmailAddress" class="k-edit-field">
            <input type="text" id="EmailAddress" name="EmailAddress" data-type="text" data-bind="value:EmailAddress">
        </div>

        <a class="k-button k-button-icontext" id="btnUpdate" href="\\#">
            <span class="k-icon k-update"></span>
            Update
        </a>
        <a class="k-button k-button-icontext" id="btnCancel" href="\\#">
            <span class="k-icon k-cancel"></span>
            Cancel
        </a>
    </div>

</script>